Repository RocketLeagueMapmaking/RL-docs, changes with the labels that .github/labeler.yml gives for each.
All labels: section: blender, section: decryption, section: get started, section: kismet, section: misc, section: multiplayer, section: textures, section: udk, config

.github/labeler.yml:

'section: blender':
  - changed-files:
    - any-glob-to-any-file: docs/guide/blender/**

'section: decryption':
  - changed-files:
    - any-glob-to-any-file: docs/guide/decryption/**

'section: get started':
  - changed-files:
    - any-glob-to-any-file: docs/essential/**

'section: kismet':
  - changed-files:
    - any-glob-to-any-file: docs/guide/kismet/**

'section: misc':
  - changed-files:
    - any-glob-to-any-file: docs/guide/misc/**

'section: multiplayer':
  - changed-files:
    - any-glob-to-any-file: docs/guide/multiplayer/**

'section: textures':
  - changed-files:
    - any-glob-to-any-file: docs/guide/textures/**

'section: udk':
  - changed-files:
    - any-glob-to-any-file: docs/guide/udk/**

config:
  - changed-files:
    - any-glob-to-any-file: docs/.vitepress/config/**

refactor: improve config readability
  docs/.vitepress/config/hooks.ts
  docs/.vitepress/config/index.ts
  docs/.vitepress/config/rewrites.ts
Labels: config

combine rules with patterns
  .ls-lint.yml
Labels: none

seperate scripts for file linting
  .github/workflows/deploy.yml
  package.json
Labels: none

fix: use correct name in rewrites
  docs/.vitepress/config/rewrites.ts
Labels: config

lint: update markdown lint
  .markdownlint.json
  docs/guide/udk/04_map_test.md
  docs/guide/udk/07_materials.md
Labels: section: udk

deps: update eslint to v9
  .eslintignore
  .eslintrc.json
  eslint.config.js
  package-lock.json
  package.json
Labels: none

feat(theme): add steam title switching
  docs/index.md
Labels: none
